<div class="comment">

    <div class="meta">
        <span class="nick">{{ data.nick }}</span>
        <span class="social">{{ data.social }}</span>
    </div>

    <div class="text">
        {{ data.text }}
    </div>

</div>
