<label for="{{ data.name }}">{{ data.label }}</label>
<keygen name="{{ data.name }}" {% if data.challenge %} challenge="{{ data.challenge }}" {% endif %} {% if data.blocked %} disabled="disabled" {% endif %}>
