<form enctype="multipart/form-data" method="POST" action="{{ data.action }}">

    {% if data.mode == 'delete' %}

        <div class="warning">
            <p> Do you really want to delete the {{ data.parent.__class__.__name__ }} '{{ data.parent.title }}'?</p>
        </div>

        <div class="controls">
            <button type="submit" name="submit" value="delete">Kill</button>
        </div>

    {% else %}

        <div class="elements">
        {% for name, field in data.fields.iteritems() %}
            <div class="element form-element-{{ field.type }}">
                {{ field.render() }}
            </div>
        {% endfor %}
        </div>

        <div class="controls">
            <button type="reset">Reset</button>
            <button type="submit" name="submit" value="save">Submit</button>
        </div>

    {% endif %}

</form>

{% with form = data.parent.file_form() %}
    {{ form.render() }}
{% endwith %}
