<form method="POST" action="{{ url_for('site.site_comment', id=data.parent.post.id) }}">
    COMMENT BLARGH
    {% if data.mode == 'delete' %}

        <div class="warning">
            <p> Do you really want to delete this object?</p>
        </div>

        <div class="controls">
            <button type="submit" name="submit" value="delete">Delete</button>
        </div>

    {% else %}

        <div class="elements">
        {% for name, field in data.fields.iteritems() %}
            <div class="element form-element-{{ field.type }}">
                {{ field.render() }}
            </div>
        {% endfor %}
        </div>

        <div class="controls">
            <button type="reset">Reset</button>
            {% if data.mode == 'edit' %}<button type="submit" name="submit" value="delete-redirect">Delete</button>{% endif %}
            <button type="submit" name="submit" value="save">Submit</button>
        </div>

    {% endif %}

</form>
