<label for="{{ data.name }}">{{ data.label }}</label>
<textarea name="{{ data.name }}"  {% if data.blocked %} disabled="disabled" {% endif %}>{% if data.value %}{{ data.nice_value() }}{% endif %}</textarea>
