<label for="{{ data.name }}">{{ data.label }}</label>
<input type="file" name="{{ data.name }}" {% if data.value %} value="{{ data.nice_value() }}" {% endif %} {% if data.blocked %} disabled="disabled" {% endif %}>
