<!doctype html>
<html>

    <head>
        <title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
    </head>

    <body>

        <header>
            {% if menus.has_key('main') %}
                {{ menus['main'].render() }}
            {% endif %}
        </header>

        {% if messages|count() %}
            <ul id="messages">
            {% for (severity, message) in messages %}
                <li class="message {{ severity }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <div id="content-wrapper">

            {% if menus.has_key('secondary') %}
            <div id="secondary">
                {{ menus['secondary'].render() }}
            </div>
            {% endif %}

            {% if menus.has_key('tertiary') %}
            <div id="tertiary">
                {{ menus['tertiary'].render() }}
            </div>
            {% endif %}

            <div id="content">
            {% if content.__class__.__name__ == 'Container' %}

                {% for item in content %}
                    {% with idx = content.index(item) %}
                        <div id="subcontent-{{idx}}">
                            {{ item.render() }}
                        </div>
                    {% endwith %}
                {% endfor %}

            {% else %}

                {{ content.render() }}

            {% endif %}

        </div>

        <footer>
            FOOTER THINGIE
        </footer>
    </body>

</html>
