<article id="{{ data.id }}" class="content">

    <header>
        <h4><a href="{{ data.url('edit') }}">{{ data.title }}</a></h4>
    </header>

    <div class="text">
        {{ data.text }}
    </div>

</article>
