<article id="{{ data.id }}" class="content">

    <header>
        {{ data.title }}
    </header>

    <div class="text">
        {{ data.text }}
    </div>

    <div class="comments">

        {% for comment in data.get_comments() %}
            {{ comment.render() }}
        {% endfor %}

        {% with form = data.comment_form() %}
            {{ form.render() }}
        {% endwith %}
    </div>

</article>
