<article class="tag">
    <h1>{{ data.title }}</h1>
    <div class="description">{{ data.description }}</div>

    {% with posts = data.get_posts() %}
        {{ posts.render() }}
    {% endwith %}

</article>
