<article id="{{ data.id }}" class="tag">

    <header>
        <h4><a href="{{ data.url('edit') }}">{{ data.title }}</a></h4>
    </header>

    <div class="description">
        {{ data.description }}
    </div>

</article>
